.slide {
  overflow: hidden;
  cursor: pointer;
}
.slide .on,.slide .off,.slide .blob {
    float: left;
}
.slide .blob {
    position: relative;
    z-index: 99;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dark .slide {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #242529, 0 1px 0 1px #666;
}
.dark .slide .on,.dark .slide .off,.dark .slide .blob {
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}
.dark .slide .on {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1A70BE), color-stop(100%, #31A2E1));
  background: -webkit-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: -moz-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: -ms-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: -o-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
}
.dark .slide .off {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242529), color-stop(100%, #34363B));
  background: -webkit-linear-gradient(top, #242529 0%, #34363B 100%);
  background: -moz-linear-gradient(top, #242529 0%, #34363B 100%);
  background: -ms-linear-gradient(top, #242529 0%, #34363B 100%);
  background: -o-linear-gradient(top, #242529 0%, #34363B 100%);
  background: linear-gradient(top, #242529 0%, #34363B 100%);
}
.dark .slide .blob {
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CFCFCF), color-stop(100%, whiteSmoke));
  background: -webkit-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: -moz-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: -ms-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: -o-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
}
.dark .slide .blob:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4b4b4), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: -moz-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: -ms-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: -o-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
}